[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
statsmodels = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
seaborn = "*"
shap = "*"
numpy = "==1.23.0"

[dev-packages]

[requires]
python_version = "3.10"
